.body{
    cursor: curso, pointer;
}
.img-div {
    width: 30%;
    height: auto;
    overflow: hidden;  
    margin: auto;
}

.img {
    width: 290px;
    height: 400px;
    display: block;
    margin: auto;
}

.recherche{
    margin-bottom: 15px;
}

.ajoutfilm{
    border: 1rem solid;
    padding: 25px;
}

.button{
    width: 30%;
    display: block;
    margin : auto;
}

