*{
    font-family: Helvetica;

}
body{
    background-color: #312F2F !important;
}

p{
    margin-bottom: 5px !important;
}

.icon-netfilm{
    width: 85px;
    position: absolute;
    padding: 15px;
}

.logo-netflim{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.logo{
    width: 400px;
}

.white{
    color: white !important;
    text-align: center;
}

.img-div {
    width: 30%;
    height: auto;
    overflow: hidden;  
    margin: auto;
    cursor: url("../src/assets/cursor.JPG"), pointer;

}

.img {
    width: 290px;
    height: 400px;
    display: block;
    margin: auto;
    align-items: center;
    transition: 1s ;
}

.div-img{
    width: 290px;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-bottom: 5px;
}
.img:hover{
    filter: opacity(0.6);
    transition: 1s;
}

.fas{
    color: white;
    padding-right: 10px;
}

.recherche{
    margin: auto !important;
    margin-bottom: 25px !important;
    height: 150px !important;
    background-color: #141414;
    padding: 50px;
    width: 100%;
    }

    .recherche-input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    transition: width 0.3s linear;
    }

    .recherche:hover > .recherche-input{
    padding: 0 10px;
    width: 10%;
    max-width: 10%;
    caret-color: white;
    transition: width 0.3s linear;
    }

    .recherche:hover > .recherche-icon{
    background: white;
    color: white;
    }

    .recherche-icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

/* .hidden-button{
    width: 100%;
    background-color: #141414;
    border-radius: 5px;
    border: 0;
    color: #e50914;
} */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100%;
    cursor: pointer;

}
#editMovie-btn{
    width: 50% !important;    
}

.hidden-button {
    color: #e50914;
    transition: all 0.5s;
    position: relative;
    border-radius:  15px;
}
.hidden-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(20, 20, 20,0.4);
    transition: all 0.3s;
    border-radius: 15px;

}
.hidden-button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.hidden-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
    border-radius: 15px;

}
.hidden-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
.ligne{
    margin-top: 50px;
    background-color: rgb(87, 82, 82);
    height: 2px;
    width: 75%;
}
.ajoutfilm{
    margin-top: 25px;   
    border: 0;
    padding-top: 5px;
    color: white;
}
.ajoutfilm-item{
    border-radius: 10px;
    background-color: rgb(87, 82, 82);
    color: rgb(206, 197, 197);
    border: 2px solid #312F2F;
    margin: 5px 0px 5px 0px;

} 

#synopsis{
    min-height: 125px;       
}

.nav-link{
    padding: 0 !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-poster{
    margin: auto;
    width: 80%;
}

.bandeau{
    background-color: #141414;
    height: 124px;
    width: 100%;
}

.vue-star-rating{
    margin: auto;
    padding-bottom: 5px;
}
