*{
    font-family: Helvetica;

}
body{
    background-color: #312F2F !important;
}


.icon-netfilm{
    width: 85px;
    position: absolute;
    padding: 15px;
}

.logo-netflim{
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.logo{
    width: 400px;
}

.white{
    color: white !important;
    text-align: center;
}

.img-div {
    width: 30%;
    height: auto;
    overflow: hidden;  
    margin: auto;
    cursor: url("../src/assets/cursor.JPG"), pointer;

}

.img {
    width: 290px;
    height: 400px;
    display: block;
    margin: auto;
    align-items: center;
    transition: 1s ;
}

.div-img{
    width: 290px;
    height: 400px;
    background-color: white;
    margin: auto;
}
.img:hover{
    filter: opacity(0.6);
    transition: 1s;
}

.fas{
    color: white;
    padding-right: 10px;
}
.recherche{
    margin: auto !important;
    margin-bottom: 25px !important;
    height: 150px !important;
    background-color: #141414;
    padding: 50px;
    width: 100%;
    }

    .recherche-input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    transition: width 0.4s linear;
    }

    .recherche:hover > .recherche-input{
    padding: 0 10px;
    width: 25%;
    caret-color: white;
    transition: width 0.4s linear;
    }

    .recherche:hover > .recherche-icon{
    background: white;
    color: white;
    }

    .recherche-icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

.hidden-button{
    width: 100%;
    background-color: #141414;
    border-radius: 5px;
    border: 0;
    color: #e50914;
}
.ligne{
    margin-top: 50px;
    background-color: rgb(87, 82, 82);
    height: 2px;
    width: 75%;
}
.ajoutfilm{
    margin-top: 25px;
    border: 0;
    padding: 25px;
    color: white;
    box-shadow: 0px 40000px 2px black;
}
.ajoutfilm-item{
    border-radius: 10px;
    background-color: rgb(87, 82, 82);
    color: rgb(206, 197, 197);
    border: 2px solid #312F2F;
    margin: 5px 0px 5px 0px;
} 

.nav-link{
    padding: 0 !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.balec{
    margin: auto;
    width: 80%;
}

.bandeau{
    background-color: black;
    height: 15px;
    width: 100%;
}

