<section class="movieitem">

  <div class="recherche row h-100 justify-content-center align-items-center">
    <input class="recherche-input" type="text" placeholder="Rechercher" v-model="barreRecherche">
    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    <select name="recherche" v-model="selectRecherche">
      <option value="">trier...</option>
      <option value="titre">Titre du film</option>
      <option value="realisateur">Nom du réalisateur</option>
      <option value="anneeSortie">Année de sortie</option>
    </select>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4" v-for="(movie, index) of recherche"><strong class="white">{{movie.titre}}
          ({{movie.anneeSortie}})</strong>
        <div class="div-img">
          <img style="cursor: pointer;" v-on:click="display(index)" class="img" v-bind:src="movie.img" alt="poster">
        </div>
        <div v-if="movie.displayed" class="card-body white">
          <p>Réalisateur :</p>
          <p>Nom : {{movie.realisateur.nomRealisateur}} </p>
          <p>Nationalité : {{movie.realisateur.nationnaliteRealisateur}} </p>
          <p>Date de naissance : {{movie.realisateur.naissanceRealisateur}} </p>
          <star-rating :read-only="true" v-model="movie.note"></star-rating>
          <p>Synopsis : {{movie.synopsis}}</p>

        </div>
        <router-link :to="{path: '/movie/' + index + '/edit'}" class="nav-link">
          <button class="hidden-button">
            <i>
              <svg class="bi bi-brush" width="1em" height="1em" color="red" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.213 1.018a.572.572 0 01.756.05.57.57 0 01.057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z" />
                <path d="M7 12a2 2 0 01-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 012 2z" />
              </svg>
            </i></button></router-link>
        <button class="button" v-on:click="deleteMovie(index)"><i class="small material-icons">Supprimer</i></button>
      </div>
    </div>
  </div>
  <div class="ajoutfilm col-6 offset-md-3">
    <input class="col-12" v-model="newMovieImg" type="text" placeholder="URL du poster">
    <input class="col-9" v-model="newMovieTitle" type="text" placeholder="Titre">
    <input class="col-3" v-model="newMovieYear" type="text" placeholder="Annee de sortie">
    <input class="col-6" v-model="newMovieRealName" type="text" placeholder="Nom du réalisateur">
    <input class="col-6" v-model="newMovieRealBirth" type="text" placeholder="Année de naissance du réalisateur">
    <input class="col-3 offset-md-2" v-model="newMovieRealNationalite" type="text"
      placeholder="Nationalité du réalisateur">
    <input class="col-3 offset-md-2" v-model="newMovieNote" type="text" placeholder="Note du film sur 5">
    <textarea class="col-12" v-model="newMovieSynopsis" type="text" placeholder="Synopsis"></textarea>
    <button class="button" v-on:click="addMovie()">Ajouter le film</button>
  </div>

</section>