<section class="movieitem">

  <div class="recherche row h-100 justify-content-center align-items-center">
    <input class="recherche-input" type="text" placeholder="Rechercher" v-model="barreRecherche">
    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    <select name="recherche" v-model="selectRecherche">
      <option value="">trier...</option>
      <option value="titre">Titre du film</option>
      <option value="realisateur">Nom du réalisateur</option>
      <option value="anneeSortie">Année de sortie</option>
    </select>
  </div>

  <div class="logo-netflim">
    <img class="logo" src="../../assets/logo-netflim.svg" alt="logo netflim">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4" v-for="(movie, index) of recherche"><strong>
          <p class="white"> {{movie.titre}} ({{movie.anneeSortie}})</p>
        </strong>
        <div class="div-img">
          <img style="cursor: pointer;" v-on:click="display(index)" class="img" v-bind:src="movie.img" alt="poster">
        </div>
        <div v-if="movie.displayed" class="card-body white">
          <p><strong>Réalisateur</strong></p>
          <p><u>Nom</u> : {{movie.realisateur.nomRealisateur}} </p>
          <p><u>Nationalité</u> : {{movie.realisateur.nationnaliteRealisateur}} </p>
          <p><u>Date de naissance</u> : {{movie.realisateur.naissanceRealisateur}} </p>
          <star-rating increment="0.5" :show-rating="false" rounded-corners="true" glow="10" :read-only="true" v-model="movie.note"></star-rating>
          <p><u>Synopsis</u> : {{movie.synopsis}}</p>

        </div>
        <div class="btn-poster">
          <router-link :to="{path: '/movie/' + index + '/edit'}" class="nav-link">
            <button class="hidden-button btn">
              <i>
                <svg class="bi bi-brush" width="1em" height="1em" color="#e50914" viewBox="0 0 16 16"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.213 1.018a.572.572 0 01.756.05.57.57 0 01.057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z" />
                  <path d="M7 12a2 2 0 01-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 012 2z" />
                </svg>
              </i></button></router-link>
          <button class="hidden-button btn" v-on:click="deleteMovie(index)">
            <i>
              <svg class="bi bi-trash-fill" width="1em" height="1em" color="#e50914" viewBox="0 0 16 16"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                  clip-rule="evenodd" />
              </svg>
            </i>
          </button>
        </div>

      </div>
    </div>
  </div>
  <hr class="ligne"/>
  <div class="ajoutfilm col-6 offset-md-3">
    <input class="col-12 ajoutfilm-item" v-model="newMovieImg" type="text" placeholder="URL du poster">
    <input class="col-8 ajoutfilm-item" v-model="newMovieTitle" type="text" placeholder="Titre">
    <input class="col-4 ajoutfilm-item" v-model="newMovieYear" type="text" placeholder="Année de sortie">
    <input class="col-6 ajoutfilm-item" v-model="newMovieRealName" type="text" placeholder="Nom du réalisateur">
    <input class="col-6 ajoutfilm-item" v-model="newMovieRealBirth" type="text" placeholder="Année de naissance du réalisateur">
    <input class="col-3 offset-md-2 ajoutfilm-item" v-model="newMovieRealNationalite" type="text" placeholder="Nationalité du réal.">
    <input class="col-3 offset-md-2 ajoutfilm-item" v-model="newMovieNote" type="text" placeholder="Note du film sur 5">
    <textarea id="synopsis" class="col-12 ajoutfilm-item" v-model="newMovieSynopsis" type="text" placeholder="Synopsis"></textarea>
    <div class="box-btn">
      <button class="col-4 offset-md-4 hidden-button btn" v-on:click="addMovie()">
        <i>
          <svg class="bi bi-plus-circle-fill" width="1em" height="1em" color="#e50914" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
          </svg>
        </i>
      </button>  
    </div>
    
  </div>

</section>